---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="-nPikaY-6X_ZybuLNOT1i9eKjgoFBXIYUDwQn_YbGdw" />
    <link href='//fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/stylesheets/resumecards.css" | prepend:site.baseurl }}">
    <title>
      {% if site.data.resume.demo %}
        ResumeCards, a Markdown based resume generator.
      {% else %}
        {{ site.data.resume.name }}'s Resume
      {% endif %}
    </title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container resume-content">
      <nav class="navbar navbar-default hidden-print hidden-xs" role="navigation">
        <div class="resume-nav">
          <span>Built with <a href="https://github.com/ellekasai/resumecards" target="_blank">ResumeCards</a><span class="hidden-sm">, a Markdown based resume generator</span></span>.
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveAsPdf">
            Save as PDF
          </button>
          <div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{ "/images/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
                  <p>Warning: Currently, ResumeCards works the best on Chrome.<br>You need to adjust the CSS for Firefox/Safari.</p>
                </div>
                <div class="modal-footer">
                  <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-sm-8 clearfix">
          <figure class="resume-pic">
            <img src="{{ site.data.resume.photo }}" class="img-rounded" width="120" height="120">
          </figure>
          <div class="resume-baseinfo">
            <h1>{{ site.data.resume.name }}</h1>
            {% include bio.html %}
          </div>
        </div>
        <div class="col-sm-4 resume-contact">
          {% include nav.html %}
        </div>
      </div>
      <div class="row">
        {% for card in site.posts reversed %}
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ card.type }}</h3>
              </div>
              <div class="panel-body">
                {% if card.heading %}
                  <h4>
                    {{ card.heading }}
                  </h4>
                {% endif %}
                {% if card.subheading %}
                  <p class="resume-subheading">
                    {{ card.subheading }}
                  </p>
                {% endif %}
                {% if card.duration %}
                  <p class="resume-duration">
                    {{ card.duration }}
                  </p>
                {% endif %}
                {% if card.location %}
                  <p class="resume-location">
                    {{ card.location }}
                  </p>
                {% endif %}
                {{ card.content }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if site.data.resume.demo %}
      <div class="visible-xs hidden-print resume-view-pdf"><a href="{{ "/resume-print-sample.pdf" | prepend:site.baseurl }}" class="btn btn-primary btn-lg">View Generated PDF</a></div>
      {% endif %}
    </div>
    <div class="resume-bottom">
      <footer class="container">
        <div class="row resume-explanations">
          <h2>Freelance Projects</h2>

          <h3 id="invincible">Invincible</h3>

          <ul>
            <li>2019, Tech Lead.</li>
          </ul>

          <h3 id="strongbee">Strongbee</h3>

          <ul>
            <li>2018, Interim CTO.</li>
          </ul>


          <h3 id="gredu">Gredu</h3>

          <ul>
            <li>2017, Gredu ( Ruby on rails, iOS, Swift, DevOps ).</li>
          </ul>

          <h3 id="awantunai">AwanTunai</h3>

          <ul>
            <li>2017, AwanTunai loan system ( Ruby on rails, Java Spark, DevOps ).</li>
          </ul>

          <h3 id="rumahsakitpondokindahrspi">Rumah Sakit Pondok Indah - RSPI</h3>

          <ul>
            <li>2017, RSPI iOS mobile app.</li>
          </ul>

          <h3 id="popfren">Popfren</h3>

          <ul>
            <li>2017, Popfren iOS mobile app.</li>
          </ul>

          <h3 id="konsula">Konsula</h3>

          <ul>
            <li>2016, Konsula iOS consumer app.</li>
          </ul>

          <h3 id="kementerianhukumdanhamri">Kementerian Hukum dan HAM RI</h3>

          <ul>
            <li>2014, Portal Kemenkumham RI ( Zend, MySQL, Sencha ExtJS, Ruby, Apache ActiveMQ )</li>

            <li>2013, Penerimaan CPNS ( Zend, MySQL, Twitter Bootstrap, Sencha ExtJS )</li>

            <li>2013, Prajab CPNS ( Zend, MySQL, Twitter Bootstrap, Sencha ExtJS )</li>

            <li>2012, Rencana Umum Pelelangan ( Zend, MySQL, Sencha ExtJS )</li>

            <li>2012, LPSE SMS Gateway ( Zend, MySQL, PostgreSQL, Gammu )</li>

            <li>2012, Penerimaan CPNS ( Zend, MySQL, Twitter Bootstrap, Sencha ExtJS )</li>

            <li>2012, Beasiswa BPSDM ( Zend, MySQL, Sencha ExtJS )</li>

            <li>2011, Laporan Kinerja dan Evaluasi ( Zend, MySQL, Sencha ExtJS )</li>
          </ul>

          <h3 id="kementerianpekerjaanumum">Kementerian Pekerjaan Umum</h3>

          <ul>
            <li>2011, Rencana Program Inventasi Jangka Menengah ( Zend, MySQL, Sencha ExtJS)</li>
          </ul>

          <h3 id="garudaindonesiatbk">Garuda Indonesia, tbk</h3>

          <ul>
            <li>2013, AboutUs Portal ( Wordpress, SAP Integration )</li>

            <li>2014, AboutUs Mobile Application ( Phonegap, Ionic Framework, Wordpress )</li>
          </ul>

          <h3 id="pusatpelaporandananalisatransaksikeuanganppatk">Pusat Pelaporan dan Analisa Transaksi Keuangan (PPATK)</h3>

          <ul>
            <li>2014, SIPESAT ( Zend, Ext JS 4, Ruby, Apache ActiveMQ, Oracle 10g, MongoDB)    </li>
          </ul>

          <h3 id="ptgloballiaquatconsulting">PT Global Liaquat Consulting</h3>

          <ul>
            <li>Custom Plugins &amp; Module for CATS ( PHP 5, MySQL ) PT Mustika Utama</li>

            <li>GPS Tracking Web Application ( Zend, Ext JS, OpenGTS &amp; Google Maps API) Astra Agro Lestari, tbk</li>

            <li>Plantation Information Management System ( Zend, ExtJS, Oracle 10g )</li>
          </ul>
        </div>
      </footer>
    </div>
    <script src="{{ "/javascripts/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/bootstrap.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/javascripts/resumecards.js" | prepend:site.baseurl }}"></script>
    {% include scripts.html %}
  </body>
</html>
