<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/pushm0v/" target="_blank">Github</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://gitlab.com/pushm0v/" target="_blank">Gitlab</a></p>
<p><i class="fa fa-book fa-lg fa-fw"></i> <a href="https://pushm0v.gitlab.io/blog" target="_blank">Blog</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/bherly" target="_blank">linkedin.com/in/bherly</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:bherly.novrandy@gmail.com" target="_blank">bherly.novrandy@gmail.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:pushm0v.development@gmail.com" target="_blank">pushm0v.development@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:+6282120289216" target="_blank">+62 821 2028 9216</a></p>
